<h2>Check in details</h2>

<%checkin = _.clone(checkInDetails); 

console.log(checkInDetails);%>


<ul class="list-group">
	<li class="list-group-item">
		item <b><%= checkInDetails.get('id') %></b>
	</li>
	<li class="list-group-item">
		item <b><%= checkInDetails.get('lat') %></b>
	</li>
	<li class="list-group-item">
		item <b><%= checkInDetails.get('lng') %></b>
	</li>
	<li class="list-group-item">
		item <b><%= checkInDetails.get('created_at') %></b>
	</li>
	<li class="list-group-item">
		item <b><%= checkInDetails.get('updated_at') %></b>
	</li>
	<li class="list-group-item">			
		item <b><%= checkInDetails.get('deleted_at') %></b>
	</li>
</ul>
